{% extends 'base.html' %}
{% load static %}

{% block title %}
AHM Home
{% endblock title %}
{% block content %}
<div class="section row d-flex justify-content-center align-items-center mt-5">
    <div class="text-side col-md-5 px-4">
    <h1 class="text-center">AHM RESTAURANT</h1> <hr>
    <p>“Who wants to get an excellent service with delicious food and nice environment come AHM RESTAURANT .We have a beautiful rooftop restaurant under the sky with a nice view.”
<br>
“Test our Pizza and pasta and also our food items.”</p>
<p>For more info about our Food Visit Show Items page</p>
<button class="btn btn-info px-4">Order Now</button>
    </div>
    <div class="img-side col-md-6 px-4">
        <img class="img-fluid rounded-circle" src="{% static "images/restaurant2.jpg" %}" alt="">
    </div>
</div>
{% endblock content %}